<!-- progress_create_form.html -->
{% extends "base.html" %}

{% block content %}
<div class="container">
  <a href="{{ url_for('protected.single_goal', user_id=user_id , goal_id=goal_id) }}" class="btn btn-outline-secondary mb-3">
    ← Back to Goal
  </a>

  <h2 class="mb-4">Add Progress for: {{ goal_title }}</h2>

  <form method="post" action="{{ url_for('protected.create_progress', user_id=user_id, goal_id=goal_id) }}" class="card p-4">
    <div class="mb-3">
      <label for="amount" class="form-label">Amount:</label>
      <input type="number" step="0.01" id="amount" name="amount" class="form-control" required>
      {% if amount_must_be_positive %}
      <div class="form-text text-danger">{{ amount_must_be_positive }}</div>
      {% endif %}
    </div>

    <div class="mb-3">
      <label for="updateNote" class="form-label">Note:</label>
      <textarea id="updateNote" name="updateNote" rows="3" class="form-control"></textarea>
      {% if update_note_is_blank %}
      <div class="form-text text-danger">{{ update_note_is_positive }}</div>
      {% endif %}
    </div>

    <button type="submit" class="btn btn-success">Add Progress</button>
  </form>
</div>
{% endblock %}